pikapp/pikappDes/pikappDes.Android/bin
pikapp/pikappDes/pikappDes.Android/obj
pikapp/pikappDes/pikappDes.iOS/bin
pikapp/pikappDes/pikappDes.iOS/obj
pikapp/pikappDes/pikappDes/bin
pikapp/pikappDes/pikappDes/obj
pikapp/pikappDes/pikappDes.Android/bin/Release/com.companyname.pikappdes.apk
